<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <div class="posts">
      <% include partials/top %>
<!-- main start -->

<!-- views/posts/index.ejs -->
<!-- POST를 하려면 form이 필요함 -->
<div class="new">
  <h3>New Post</h3>
  <form class="posts_form" action="/posts" method="post">
    <label>Title<span id="title_error" class="error_message"><%= titleError?titleError:""%></span></label>
    <input type="text" id="title" name="post[title]" value="<%= formPost?formPost.title:"" %>">
    <label>Body<span id="body_error" class="error_message"><%= bodyError?bodyError:"" %></span></label>
    <textarea id="body" name="post[body]"><%= formPost?formPost.body:"" %></textarea>
    <div class="float_right">Author: <%= user.nickname %></div>
    <button type="submit" class="submit_btn">Submit</button>
  </form>
  <a href="/posts"><button>Back</button><a>
</div>

<!-- main end -- >
</div><!-- posts end -->
<footer>
  <% include ../partials/footer %>
</footer>
</body>
</html>
